<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Skole</title>
</head>
<body>
    {{#if Admin}}
    {{>AdminHeader}}
    {{else}}
    {{>Header}}
    {{/if}}
    <div action="/CreateUser" class="loggInForm" method="post" style="width: 75% !important;">
    <h3 class="loggInForm-tittle">Din Profil:</h3><br>
       <div class="loggInForm-input-container">
    <table>
        <tr>
            <td>Rolle: </td>
                <td>{{userdata.rolle}}</td>
        </tr>
        <tr>
            <td>Navn: </td>
            <td>{{userdata.Etternavn}}, {{userdata.Fornavn}}</td>
        </tr>
          <tr>
            <td>BrukerNavn: </td>
            <td>{{userdata.Brukernavn}}</td>
        </tr>
        <tr>
            <td>Epost: </td>
            <td>{{userdata.Email}}</td>
        </tr>
        <tr>
            <td>tlf: </td>
            <td>{{userdata.tlf}}</td>
        </tr>
        {{!-- <tr>
            <td>Personnumer: </td>
            <td>{{userdata.Personnummer}}</td>
            <td></td>
        </tr> --}}
        <tr>
            <td>Klasse: </td>
            <td>{{klasseData.navn}}</td>
        </tr>
        <tr>
            <td>Passord: </td>
            <td>***********</td>
        </tr>
    </table>
            </div>
    </div>
</body>
</html>